.header {
    height: 80px;
    background-color: #1C2B35;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 60px;
    padding-right: 140px
}

.header img {
    height: 90px;
}

.header a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-left: 40px;
    font-weight: 700;
}

.header a:hover {
    color: orange;
}

.btn-logout {

    background-color: orange;
    border: none;
    height: 30px;
    width: 120px;
    color: white;
    margin-left: 25px;
    font-weight: 700;
    border-radius: 5px;
}